<%- include("partials/header.ejs") %>
<h1>About</h1>
<p> This is a blog website where you can post your daily news. </p>


<p> <%= aboutContent %> </p> 
<%- include("partials/footer.ejs") %>

